.introduction-title {
    font-size: 2.4rem;
}

.introduction-text {
    text-align: justify;
    font-size: 2.2rem;
    line-height: 2.8rem;
    padding-top: 1rem;
}

.introduction-pararel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pararel-padding {
    padding-right: 6rem;
}