.page-register {
    display: flex;
    min-height: 100vh;
}

.page-register-left {
    flex: 1;
}

.page-register-right {
    display: flex;
    justify-content: center;
    flex: 1.2;
}

.page-register-left-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    width: 45%;
    padding: 2rem 4rem;
}

.page-register-right-container {
    width: 56rem;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}
